@use 'modern-normalize.scss';
@use '@/app/styles/variables.module' as var;

html {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: var.$text-color;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex-grow: 1;
    display: flex;
    background-color: var.$background;
  }

  &__container {
    $p-lr: 10px;

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: calc(938px + $p-lr * 2);
    padding: 0 $p-lr;
    margin: 0 auto;
  }
}
