@forward 'modern-normalize.scss';
@use 'variables.module' as var;

html {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: var.$text-color;
}

body {
  background-color: var.$background;
}

.app {
  padding: 0 10px;
}
