$black: #000;

$heading-color: rgba($black, 0.85);
$text-color: rgba($black, 0.75);
$primary-color: #1890ff;
$text-color-secondary: rgba($black, 0.5);

$background-color-base: #fff;
$background: #ebeef3;

:export {
  textColor: $text-color;
  black: $black;
  primaryColor: $primary-color;
}
