@use '@/app/styles/variables.module' as var;

.user-preview {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 18px;
  line-height: 28px;
  color: var.$heading-color;
}

.date {
  color: var.$text-color-secondary;
  margin-top: 2px;
}

.avatar {
  width: 48px;
  height: 48px;
  transition: transform 0.3s;
}

:global(.pointer-name-avatar) {
  .name,
  .avatar {
    cursor: pointer;
  }

  .name {
    &:hover {
      text-decoration: underline;
    }
  }

  .avatar {
    &:hover {
      transform: scale(1.1);
    }
  }
}
