@use '@/app/styles/variables.module.scss' as var;

.layout-modal {
  border: 1px solid var.$normal-color;
  border-radius: 6px;
  padding: 48px 32px;
  width: 384px;
  box-shadow:
    0 1px 3px 0 var.$table-header,
    0 1px 7px 0 rgba(0, 0, 0, 0.03),
    0 3px 13px 0 rgba(0, 0, 0, 0.04),
    0 5px 24px 0 rgba(0, 0, 0, 0.04),
    0 9px 44px 0 rgba(0, 0, 0, 0.05),
    0 22px 106px 0 rgba(0, 0, 0, 0.07);
  background-color: var.$background-color-base;
}
