@use '@/app/styles/variables.module' as var;

$transition-time: 0.3s;

.app-link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  line-height: inherit;
  transition:
    background-color $transition-time,
    color $transition-time;

  &:hover {
    text-decoration: underline;
  }

  &--type {
    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      border-radius: 6px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        text-decoration: none;
      }
    }
  }

  &--size {
    &--large-plus {
      min-width: 109px;
      height: 51px;
      font-size: 18px;
    }

    &--middle {
      height: 31px;
      font-size: 14px;
    }
  }

  &--variant {
    &--outlined {
      border: 1px solid var.$black;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &--color {
    &--green {
      color: var.$success-color;
      border-color: var.$success-color;

      &.app-link--type--button:hover {
        background-color: var.$success-color;
        color: var.$white;
      }
    }

    &--blue {
      color: var.$primary-color;
      border-color: var.$primary-color;

      &.app-link--type--button:hover {
        background-color: var.$primary-color;
        color: var.$white;
      }
    }
  }
  &--padding {
    &--sm {
      padding: 6px 10px;
    }
  }
}
